<nav class="navbar navbar-pills bg-light" style="height: 80px;">
  <h2 style="margin-left: 12px"><i class="bi bi-webcam-fill text-dark"></i></h2>
  <ul class="navbar-nav d-flex flex-row justify-content-end">
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="dashboard">Tableau de bord</a>
    </li>
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="users">Utilisateurs</a>
    </li>
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="profile">Mon profil</a>
    </li>
  </ul>
</nav>
